<div>
<!-----------------Lesson 1-------------------------------------------------------->
<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 1">
    <!----------------1.1.introduction----------------------------------------->
    <app-introduction [instruction]="introduction_lesson_1"></app-introduction>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 2">
    <!----------------1.2.warm up----------------------------------------->
    <app-warm-up [lesson]="lesson_1"></app-warm-up>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 3">
    <!----------------1.3.picture play----------------------------------------->
   <app-picture-play [data]="picturePlayData_lesson_1"></app-picture-play>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 4">
    <!----------------1.4.Open story----------------------------------------->
    <app-open-story [data]="openStory_lesson_1"></app-open-story>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 5">
    <!----------------1.5.Open story----------------------------------------->
    <app-think-and-write [data]="thinkAndWrite_lesson_1"></app-think-and-write>
    <iframe src="https://h5p.org/h5p/embed/1356291" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="mcq image type"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 6">
    <!----------------1.6.Open story----------------------------------------->
    <h4 class="rounded bg-light py-3 px-4">Word Help</h4>
    <app-word-help [data]="wordHelp_lesson_1" ></app-word-help>
</div>
</div>

<!-----------------Lesson 5-------------------------------------------------------->
<div>
<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 7">
    <!----------------2.1.introduction----------------------------------------->
    <app-introduction [instruction]="introduction_lesson_2"></app-introduction>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 8">
    <!----------------2.2.warm up----------------------------------------->
    <app-warm-up [lesson]="lesson_2"></app-warm-up>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 9">
    <!----------------2.3.Word play----------------------------------------->
    <app-wordplay [wordplayData]="wordplayData_2"></app-wordplay>
    <iframe src="https://h5p.org/h5p/embed/1357994" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Word Play: Matching Game L-5"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 10">
    <!----------------2.4.Picture play----------------------------------------->
   <app-picture-play [data]="picturePlayData_lesson_5"></app-picture-play>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 11">
     <!----------------2.5.Lets talk----------------------------------------->
    <app-lets-talk></app-lets-talk>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 12">
    <!----------------2.6.Think and write----------------------------------------->
    <app-think-and-write [data]="thinkAndWrite_lesson_2"></app-think-and-write>
    <iframe src="https://h5p.org/h5p/embed/1356291" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="mcq image type"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 13">
    <!----------------2.7.Word help----------------------------------------->
    <h4 class="rounded bg-light py-3 px-4">Word Help</h4>
    <app-word-help [data]="wordHelp_lesson_2" ></app-word-help>
</div>
</div>
<!---=============================Lesson 6====================================================! -->
<div>
    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 14">
        <!---------------------------3.1.introduction---------------------------->
        <app-introduction [instruction]="introduction_lesson_3"></app-introduction>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 15">
        <!---------------------------3.2.warm up---------------------------->
        <app-warm-up [lesson]="lesson_3"></app-warm-up>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 16">
      <!----------------2.3.Word play----------------------------------------->
      <app-wordplay [wordplayData]="wordplayData_3"></app-wordplay>
      <iframe src="https://h5p.org/h5p/embed/1357994" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Word Play: Matching Game L-5"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
  </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 17">
        <!---------------------------3.4.picture play---------------------------->
        <app-picture-play [data]="picturePlayData_lesson_6"></app-picture-play>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 18">
         <!--------------------------3.5.Lets talk----------------------------------------->
        <app-lets-talk></app-lets-talk>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 19">
        <!--------------------------3.5.think and write----------------------------------------->
        <app-think-and-write [data]="thinkAndWrite_lesson_3"></app-think-and-write>
        <iframe src="https://h5p.org/h5p/embed/1356291" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="mcq image type"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 20">
        <!--------------------------3.6.Word help----------------------------------------->
        <h4 class="rounded bg-light py-3 px-4">Word Help</h4>
        <app-word-help [data]="wordHelp_lesson_2" ></app-word-help>
    </div>
</div>



<!-------------------Lesson 8--------------------------------->
<div>
    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 21">
        <!---------------------------4.1.introduction---------------------------->
        <app-introduction [instruction]="introduction_lesson_4"></app-introduction>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 22">
        <!---------------------------4.2.warm up---------------------------->
        <app-warm-up [lesson]="lesson_4"></app-warm-up>
    </div>
    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 23">
        <!---------------------------4.4.picture play---------------------------->
        <app-picture-play [data]="picturePlayData_lesson_8"></app-picture-play>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 24">
         <!--------------------------4.5.Lets talk----------------------------------------->
        <app-lets-talk></app-lets-talk>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 25">
        <!--------------------------4.5.think and write----------------------------------------->
        <app-think-and-write [data]="thinkAndWrite_lesson_3"></app-think-and-write>
        <iframe src="https://h5p.org/h5p/embed/1356291" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="mcq image type"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 26">
        <!--------------------------4.6.Word help----------------------------------------->
        <h4 class="rounded bg-light py-3 px-4">Word Help</h4>
        <app-word-help [data]="wordHelp_lesson_2" ></app-word-help>
    </div>
    </div>



    <!-----------------lesson -10 -->
    <div>

        <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 27">
            <!---------------------------4.1.introduction---------------------------->
            <app-introduction [instruction]="introduction_lesson_5"></app-introduction>
        </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 28">
        <!--------------------------10.2.Picture Play----------------------------------------->
        <app-picture-play [data]="picturePlayData_lesson_10"></app-picture-play>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 29">
        <!--------------------------10.3.Open Story----------------------------------------->
        <app-open-story [data]="openStory_lesson_10"></app-open-story>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 30">
        <!--------------------------10.4.Lets Talk----------------------------------------->
          <app-lets-talk></app-lets-talk>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 31">
        <!--------------------------10.5. Think and Write---------------------------------------->
        <app-think-and-write [data]="thinkAndWrite_lesson_3"></app-think-and-write>
        <iframe src="https://h5p.org/h5p/embed/1356291" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="mcq image type"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>

    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 32">
        <!--------------------------10.6.Word help----------------------------------------->
        <h4 class="rounded bg-light py-3 px-4">word Help</h4>
        <app-word-help [data]="wordHelp_lesson_2" ></app-word-help>
    </div>
</div>

 <!-----------------lesson -3 unit 2-------------->
 <div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 33">
        <!---------------------------3.2.1.introduction---------------------------->
        <app-introduction [instruction]="introduction_lesson_6"></app-introduction>
    </div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 34">
    <!---------------------------4.2.Story time---------------------------->
    <app-warm-up [lesson]="lesson_5"></app-warm-up>
</div>
<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 35">
    <!--------------------------10.3.Open Story----------------------------------------->
    <app-open-story [data]="openStory_lesson_11"></app-open-story>
</div>
<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 36">
    <!---------------------------3.2.1.introduction 2---------------------------->
    <app-introduction [instruction]="introduction_lesson_7"></app-introduction>
</div>
<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 37">
    <!---------------------------4.2.Story time---------------------------->
    <app-warm-up [lesson]="lesson_6"></app-warm-up>
</div>
<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 38">
    <!----------------2.3.Word play----------------------------------------->
    <app-wordplay [wordplayData]="wordplayData_11"></app-wordplay>
    <iframe src="https://h5p.org/h5p/embed/1357994" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Word Play: Matching Game L-5"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>
<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 39">
    <!--------------------------10.3.Open Story----------------------------------------->
    <app-open-story [data]="openStory_lesson_12"></app-open-story>
</div>



<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 40">
    <!--------------------------10.5. Think and Write---------------------------------------->
    <app-think-and-write [data]="thinkAndWrite_lesson_3"></app-think-and-write>
    <iframe src="https://h5p.org/h5p/embed/1356291" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="mcq image type"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>

</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 41">
    <!--------------------------10.6.Word help----------------------------------------->
    <h4 class="rounded bg-light py-3 px-4">word Help</h4>
    <app-word-help [data]="wordHelp_lesson_2" ></app-word-help>
</div>
</div>
<!----------------------Annual haircut-------------------------------------->
<div>
  <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 42">
      <app-introduction [instruction]="introduction_lesson_8"></app-introduction>
  </div>
  <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 43">
      <app-introduction [instruction]="introduction_lesson_9"></app-introduction>
  </div>
  <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 44">
    <app-warm-up [lesson]="lesson_7"></app-warm-up>
  </div>
  <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 45">
      <app-lets-talk></app-lets-talk>
  </div>
  <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 46">
    <app-open-story [data]="openStory_lesson_13"></app-open-story>
  </div>
<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 47">
  <!---------------------------3.2.1.introduction 2---------------------------->
  <app-introduction [instruction]="introduction_lesson_10"></app-introduction>
</div>
<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 48">
  <!---------------------------4.2.Story time---------------------------->
  <app-warm-up [lesson]="lesson_8"></app-warm-up>
</div>
<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 49">
  <app-lets-talk></app-lets-talk>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 50">
  <!--------------------------10.5. Think and Write---------------------------------------->
  <app-think-and-write [data]="thinkAndWrite_lesson_3"></app-think-and-write>
  <iframe src="https://h5p.org/h5p/embed/1356291" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="mcq image type"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>

</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 51">
  <!--------------------------10.6.Word help----------------------------------------->
  <h4 class="rounded bg-light py-3 px-4">word Help</h4>
  <app-word-help [data]="wordHelp_lesson_2" ></app-word-help>
</div>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 52">
  <iframe allow="camera;microphone" src="https://d2xtitd7ss55fi.cloudfront.net/index.html#/proto4/all?source=https://d2xtitd7ss55fi.cloudfront.net/db/content.json" width="900" height="706" frameborder="0"></iframe>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 53">
  <iframe allow="camera;microphone" src="https://d2xtitd7ss55fi.cloudfront.net/index.html#/proto3/all?source=https://d2xtitd7ss55fi.cloudfront.net/db/content.json" width="900" height="706" frameborder="0"></iframe>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 54">
  <iframe src="" width="900" height="706" frameborder="0"></iframe>
</div>

<div class="text-center">
    <button class="px-5 py-3 rounded bg-primary border-0 text-white fs-4 mt-5" (click)="gotoNextpage()">Next</button>
</div>
